<!-- <h4 class="card-title">Awesome Todo list</h4> -->
<br>
<form [formGroup]="taskAddForm" (ngSubmit)="onSubmit()">
  <div class="add-items d-flex">
    <input type="text" class="form-control todo-list-input  "
      [ngClass]="{'error': taskAddForm.get('title').errors && taskAddForm.get('title').touched }"
      placeholder="What do you need to do today?" formControlName="title">
    <button class="add btn btn-primary font-weight-bold todo-list-add-btn" [disabled]="taskAddForm.invalid">{{ editMode ? 'Update' : 'Add'  }}</button>
  </div>
</form>
